@model IEnumerable<TEST_MVC.Models.OrderM>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.Core;

@{
    ViewData["Title"] = "訂單列表";
}

<h2>@ViewData["Title"]</h2>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> 新增</a>
</p>

<form asp-action="index" class="form-inline">
    <div class="form-group">
        <label>訂單編號:</label>     
        <input name="id" class="form-control" value="@ViewData["id"]"/>
        <button class="btn btn-primary" ><i class="fa fa-search"></i> 查詢</button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreactDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreactUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(model => item.Id)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @item.CreactDate?.ToString("yyyy/MM/dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreactUser)
            </td>
            <td>
                @item.EditDate?.ToString("yyyy/MM/dd")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditUser)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i> 編輯</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-minus"></i> 刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model,x=>Url.Action("Index",new{Page= x,id=ViewData["id"]}),Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
