@model IEnumerable<TEST_MVC.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">新增</a>
</p>
<table class="table table-striped-columns">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ImageUrl)*@
                <img src="@("/images/"+item.ImageUrl)" class="img-thumbnail" alt="沒有圖片" width="50">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditDate)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">編輯</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">明細</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
